body {
  content: "";
  opacity: 0.6;
  background-image: url("rockymt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1>span {
  color: rgb(255, 255, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 300%;
}
h2>span {
  color: rgb(255, 255, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 300%;
  background: rgb(255, 255, 255);
  display: inline-block
}
p {
  color: rgb(0, 0, 0);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 130%;
  padding-left: 40px;
  background: rgb(255, 255, 255);
}
p>span {
    background-color: whitesmoke;
    background: rgba(0, 0, 0, 0.6);
    line-height: 2 
  }
li{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 200%;
  color: black;
  background: rgb(255, 255, 255);
}
a{
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}